{{- /* Custom Vale output template that includes the rule link in the message */ -}}
{{- range .Files -}}
  {{- $path := .Path -}}
  {{- range .Alerts -}}
    {{- $path -}}:{{- .Line -}}:{{- if .Span -}}{{- index .Span 0 -}}{{- else -}}1{{- end -}}:{{- .Check -}}:{{- .Message -}}{{- if .Link }} ({{- .Link -}}){{- end }}
  {{ end -}}
{{- end -}}
